#mobile {
  display: none;
}
#mobile-btn {
  display: block;
}

@media screen and (max-width: 1136px) {
  #links {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 90px;
    right: -300px;
    width: 300px;
    height: 100vh;
    background: #fff;
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
  }

  #links-active {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 90px;
    right: 0;
    width: 300px;
    height: 100vh;
    background: #fff;
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
  }

  #links Link {
    margin-bottom: 25px;
    padding: 0;
    color: #4a5568;
  }
  #mobile {
    display: block;
  }
  #mobile-btn {
    display: none;
  }
  #mobile{
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

#links-active {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 30px;
  gap: 2rem;
  color: #4a5568;
}

@keyframes wobble {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px); /* Adjust this value for desired wobble effect */
    }
  }
  